
<head>
	<link href="/stylesheets/styles.css" rel="stylesheet">
</head>
	<div id=title>
		<h1>Comenzar partida con:</h1>
		<form action="number_players" method="post">
			<button type="submit" name="selection"  value="1">1 Jugador</button>
			<button type="submit" name="selection"  value="2">2 Jugadores</button>	
		</form>
	</div>