<div class="center">
<h1>Resultado:<h1>
<% if @game.winner == "Draw" %>
 <h2> Fue un empate </h2>

<% elsif @game.winner.name != session[:player_name] %>
 <h1> Perdiste, el otro jugador gano con <%= @game.winner.pick %></h1>
<% else %>
<h2> Ganaste con <%= @game.winner.pick %> </h2>
<%end%>

</div><!--end of center-->
